################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/inicio_curso/2DGame/01-TBE/.vs/01-TBE/v17/Browse.VC.opendb
